<?xml version="1.0"?>
<!--
/**
 * Magento Scheduler  by LeanSwift
 *
 * NOTICE OF LICENSE
 *  This program is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, Version 3 of the License. You can view
 *   the license here http://opensource.org/licenses/GPL-3.0

 *   This program is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 * @category    LeanSwift
 * @package     LeanSwift_Scheduler
 * @copyright   Copyright (c) 2017 LeanSwift (http://www.leanswift.com)
 * @license     http://opensource.org/licenses/GPL-3.0 GNU General Public License, version 3 (GPL-3.0)
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--<add id="leanswift::base" title="LeanSwift" module="LeanSwift_Scheduler" sortOrder="15" resource="LeanSwift_Scheduler::menutitle"/>
        <add id="leanswift::header" title="Scheduler" module="LeanSwift_Scheduler" sortOrder="10" parent="leanswift::base" resource="LeanSwift_Scheduler::menuheader"/>
        <add id="leanswift_scheduler::scheduler" title="List" module="LeanSwift_Scheduler" sortOrder="10" parent="leanswift::header" action="leanswift_scheduler/items/" resource="LeanSwift_Scheduler::items"/>-->
        <add
                id="LeanSwift_Scheduler::menu"
                title="LS Scheduler"
                module="LeanSwift_Scheduler"
                sortOrder="100000"
                parent="Magento_Backend::system"
                resource="LeanSwift_Scheduler::menu"/>
        <add
                id="LeanSwift_Scheduler::schedule_config"
                title="Scheduler Configuration"
                module="LeanSwift_Scheduler"
                sortOrder="99999"
                parent="LeanSwift_Scheduler::menu"
                action="leanswift_scheduler/items/"
                resource="LeanSwift_Scheduler::items"/>
        <add
                id="LeanSwift_Scheduler::job_listing"
                title="Job Listing"
                module="LeanSwift_Scheduler"
                sortOrder="99999"
                parent="LeanSwift_Scheduler::menu"
                action="leanswift_scheduler/job/listing/"
                resource="LeanSwift_Scheduler::job_listing"/>
    </menu>
</config>
